html {
  font-size: 16px;
}
header {
  height: 64px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo span {
  align-self: center;
}
.flex {
  display: flex;
}
div {
  display: block;
}
div.logo {
  padding-left: 1.5rem;
  height: 32px;
}
header ul li {
padding-left: 1rem;
}
header ul li:last-child {
padding-right: 1.5rem;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.banner {
  background-color: grey;
}
.banner-img {
  padding: 32px 24px;
  width: 60%;
}
.banner-img img{
  width: 100%;
}
.banner-sidebar {
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  width: 40%;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
.banner-sidebar h1 {
  text-align: left;
}
.banner-sidebar h2 {
  text-align: left;
  padding-top: 12px;
}
.banner-sidebar .button {
  color: white;
  background-color: darkgrey;
  width: 90%;
  padding: 8px 0;
  font-size: 28px;
  text-align: center;
  align-self: flex-start;
  margin-top: 16px;
}
.info-left {
  width: 60%;
  padding: 32px 24px;
  justify-content: flex-start;
}
.info-left img {
  max-width: 100%;
}
.info-left h1 {
   padding-top: 32px;
   font-size: 60px;
}
.info-left p {
  padding-top: 24px;
  font-size: 18px;
}
.info-left span {
  padding-top: 32px;
}
.info-right {
  width: 40%;
  padding-top: 32px;
  border-left: 1px solid grey;
}
.information .info-bite {
  width: 100%;
  border-bottom: 1px solid grey;
}
.information .info-bite:last-child {
  background-color: grey;
}
.info-bite .img-container {
  width: 35%;
  padding: 16px;
  display: inline-block;
}
.info-bite .img-container img {
  width: 100%;
}
.info-text {
  width: 65%;
  justify-content: center;
  align-items: flex-start;
}
.info-text h2 {
  font-size: 32px;
}
.info-text span {
  padding: 8px 0;
}
.courses {
  background-color: grey;
  width: 100%;
  padding: 32px 0px;
}
.courses h1 {
  width: 100%;
  text-align: center;
  padding-top: 32px;
}
.course-container {
  padding: 32px 56px;
  justify-content: center;
  flex-wrap: wrap;
}
.course {
  max-width: 30%;
  background-color: white;
  margin: 32px 16px;
  font-size: 20px;
}
.course img {
  width: 100%;
}
.course h3 {
  font-size: 24px;
  padding-top: 16px;
  padding-left: 16px;
}
.course span {
  padding: 8px 16px;
}
.course p {
  padding-left: 16px;
  padding-bottom: 24px;
}
.thesis h1 {
  width: 100%;
  text-align: center;
  padding: 32px 0;
}
.thesis-left {
  width: 59%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
}
.thesis-left h3 {
  font-size: 24px;
  padding-top: 24px;
}
.thesis-left p {
  padding-top: 8px;
}
.thesis-right {
  width: 40%;
}
.thesis-right .info-bite:first-child {
  background-color: grey;
}
.footer {
  padding: 16px 24px;
  justify-content: space-between;
  border-top: 1px solid grey;
}
.footer nav ul li {
  padding-left: 8px;
}
a {
  text-decoration: none;
}
img {
  height: auto;
}
video {
  width: 100%;
  height: auto;
}
.mobile {
  display: none;
}
@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  header.mobile {
    justify-content: space-around;
    align-items: center;
    display: flex;
  }
  .banner-img {
    width: 100%;
    padding: 0px;
  }
  .flex.banner{
    flex-direction: column;
    padding: 0 auto;
  }
  .banner-sidebar {
    width: 100%;
    padding-top: 32px;
    padding-left: 16px;
  }
  .banner-sidebar h1 {
    font-size: 40px;
  }
  .banner-sidebar h2 {
    font-size: 32px;
    padding-top: 32px;
  }
  .banner-sidebar .button {
    margin-top: 24px;
    margin-bottom: 32px;
  }
}
